alembic==1.4.2
celery==4.4.6
cryptography==3.3.2
email-validator==1.1.1
fastapi==0.65.2
psycopg2-binary==2.9.2
PyJWT==1.7.1
python-dotenv==0.13.0
redis==3.5.3
sentry-sdk==0.14.4
SQLAlchemy==1.3.17
uvicorn==0.11.7
